.App {
  font-family: "Oldenburg", cursive;
  text-align: center;
  list-style-type: none;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 10px 10px 10px 10px;
  max-width: 800px;
  padding: 20px 20px;
  background-color: rgb(207, 194, 194);
  width: 567px;
}
.App ul {
  list-style-type: none;
  text-align: left;
}
.App .conditions {
  float: right;
  width: 50%;
  margin-left: 100px;
  bottom: 80px;
  right: 1px;
  position: relative;
}

.App .image {
  float: left;
  bottom: 10px;
  position: relative;
}
